body {
    margin: 0;
    text-align: center;
    font-family: Verdana, sans-serif    ;
}
div {
    background-color: aquamarine;
    margin-top: 0px;
}
.div1 {
    padding-top: 50px;
}
.cloud1 {
    position: relative;
    left: 20%;
}
.cloud2 {
    position: absolute;
    left: 30%;
}
.div2 {
    border: 20px solid;
    border-color: black;
    position: relative;
    left: 33%;
    width: 200px;
    height: 200px;
    background-color: blue;
}
.div3 {
    border: 10px solid;
    border-color: black;
    position: relative;
    left: 66%;
    width: 200px;
    height: 200px;
    background-color: red;
}